<div class="wrapper">
  <div class="form-wrapper">
    <h5>Edit <%= current_user.name %>'s profile</h5>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: {turbo: false}) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="edit-avatar" data-controller="change-avatar">
          <%= current_user.photo.attached? ? cl_image_tag(current_user.photo.key, class: "avatar form-avatar") : image_tag("user_default.png", class: "avatar form-avatar") %>
          <p><i class="fa-solid fa-camera" data-action="click->change-avatar#revealForm"></i></p>
          <div class="d-none" data-change-avatar-target="form">
            <%= f.input :photo, as: :file, label: false, hint: "Upload new photo" %>
          </div>
        </div>
        <%= f.input :name,
                    required: false,
                    input_html: { autocomplete: "new-name" } %>
        <%= f.input :email,
                    required: true,
                    autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :phone_number,
                    required: false,
                    input_html: { autocomplete: "new-phone-number" } %>
        <%= f.input :location,
                    required: false,
                    input_html: { autocomplete: "new-location" } %>
        <%= f.input :password,
                    hint: "Leave blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "Enter your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>
      <%= f.button :submit, "Update", class: "btn btn-flat" %>
    <% end %>

    <%= link_to "Delete my account", registration_path(resource_name), data: {confirm: "Are you sure you want to delete your ficelle account?"}, data: {turbo_method: :delete}, style: "font-size: 8px", class: "mt-2" %>

  </div>
</div>
