<div class="wrapper">
  <div class="form-wrapper">
    <h5>Create your partner's profile</h5>
    <%= simple_form_for [@partner] do |f| %>
      <div class="form-inputs">
        <div class="edit-avatar" data-controller="change-avatar">
          <%= image_tag("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fzultimate.com%2Fwp-content%2Fuploads%2F2019%2F12%2Fdefault-profile.png&f=1&nofb=1", class: "avatar form-avatar") %>
          <p><i class="fa-solid fa-camera" data-action="click->change-avatar#revealForm"></i></p>
          <div class="d-none" data-change-avatar-target="form">
            <%= f.input :photo, as: :file, label: false, hint: "Upload new photo" %>
          </div>
        </div>
        <%= f.input :name, placeholder: "Your partner's name" %>
        <%= f.input :email, placeholder: "Your partner's email" %>
        <%= f.input :location, placeholder: "Your partner's address" %>
        <%= f.input :phone_number, placeholder: "Your partner's phone number" %>
      </div>
      <%= f.submit "Create partner", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
