<div class="wrapper">
  <div class="form-wrapper">
    <h5>Create your partner's profile</h5>

    <%= cl_image_tag("../pvvsjborrwmoiefhvpog", class: "avatar form-avatar") %>
    <%# replace the above cloudinary image (currently a daisy) with a default user icon %>

    <%= simple_form_for [@partner] do |f| %>
      <%= f.input :name, placeholder: "Your partner's name" %>
      <%= f.input :email, placeholder: "Your partner's email" %>
      <%= f.input :location, placeholder: "Your partner's address" %>
      <%= f.input :birthday, html5: true, placeholder: "Your partner's birthday" %>
      <%= f.input :phone_number, placeholder: "Your partner's phone number" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Create Partner", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
