<div class="event-card pending-event d-none" data-edit-event-target="edit" id="event-<%= event.id %>">
  <div class="event-card-content">
    <% if event.pending? %>
      <p class="event-icon color-red">
        <i class="fa-solid fa-circle-exclamation"></i>
      </p>
    <% elsif event.confirmed? %>
      <p class="event-icon color-orange">
        <i class="fa-solid fa-calendar-check"></i>
      </p>
    <% elsif event.completed? %>
      <p class="event-icon color-blue">
        <i class="fa-regular fa-thumbs-up"></i>
      </p>
    <% end %>
    <div class="event-card-info">
      <h6>
        <%= event.inspo.name %>
        <% if event.inspo.genre == "date" %>
          <i class="fa-solid fa-people-pulling"></i>
        <% elsif event.inspo.genre == "gift" %>
          <i class="fa-solid fa-gift"></i>
        <% elsif event.inspo.genre == "text" %>
          <i class="fa-solid fa-comment-dots"></i>
        <% end %>
      </h6>
      <p>
        <% if event.pending? %>
          Pending Confirmation
        <% elsif event.confirmed? %>
          Scheduled
        <% elsif event.completed? %>
          Completed
        <% end %>
      </p>
    </div>
    <p><i class="fa-solid fa-chevron-up" data-action="click->edit-event#hideEdit" id="event-<%= event.id %>"></i></p>
  </div>
  <div class="event-description">
    <% if event.inspo.genre == "date" %>
      <% if event.inspo.location %>
        <p><strong>Location: </strong><br><%=  event.inspo.location %></p>
      <% end %>
      <% if event.inspo.cost%>
        <p><strong>Cost: </strong><br><%= number_to_currency(event.inspo.cost) %></p>
      <% end %>
    <% elsif event.inspo.genre == "gift" && event.inspo.cost %>
      <p><strong>Cost: </strong><br><%= number_to_currency(event.inspo.cost) %></p>
    <% end %>
    <%= simple_form_for [event] do |f| %>
      <%= f.input :date, html5: true, label: "Event Date:" %>
      <%= f.hidden_field :status, :value => Event.statuses.key(1) %>
      <% if event.inspo.genre == "text" %>
        <%= f.input :content, label: "Message:", input_html: { value: event.inspo.content } %>
      <% end %>
      <%= f.submit "Confirm Event", class: "btn btn-flat" %>
    <% end %>
    <%= link_to "Delete Event",
      event_path(event),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this event?"},
      class: "below-button"
    %>
  </div>
</div>
