<div class="inspo-card-container d-none" data-swipe-inspos-target="inspo" data-index=<%= index %>>
  <% url = inspo.photo.attached? ? (cl_image_path inspo.photo.key, height: 450, width: 350, crop: :fill) : "https://res.cloudinary.com/dbw6oqu08/image/upload/v1661685492/inspo_default.jpg" %>
  <div class="inspo-card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= url %>)">
    <div class="inspo-card-content">
      <div class="inspo-card-info">
        <h4><%= inspo.genre.capitalize %>: </h4>
        <h2><%= inspo.name %></h2>
      </div>
      <div class="inspo-card-buttons" data-action="click->swipe-inspos#revealNextCard">
        <p class="dislike"><i class="fa-solid fa-xmark"></i></p>
        <%= link_to ('<i class="like"><i class="fa-solid fa-heart"></i></i>').html_safe, toggle_favorite_inspo_path(inspo), data: {turbo_method: :post} %>
      </div>
    </div>
  </div>
  <h4 class="text-center mb-2"><%= index + 1 %> / <%= total %></h4>
</div>
