<div class="navbar-ficelle">
  <ul>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to(dashboard_path) do %>
          <p class="nav-icon nav-active"><i class="fa-solid fa-house"></i></p>
          <p class="nav-info">dashboard</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(history_path) do %>
          <p class="nav-icon"><i class="fa-solid fa-list-ul"></i></p>
          <p class="nav-info">past events</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(us_path) do %>
          <p class="nav-icon"><i class="fa-solid fa-user-group"></i></p>
          <p class="nav-info">relationship</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%#= replace dashboard_path for path to inspo swipe %>
        <%= link_to(inspos_path) do %>
          <p class="nav-icon"><i class="fa-solid fa-hand-holding-heart"></i></p>
          <p class="nav-info">inspiration</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%#= replace dashboard_path for path to settings %>
        <%= link_to(dashboard_path) do %>
          <p class="nav-icon"><i class="fa-solid fa-gear"></i></p>
          <p class="nav-info">settings</p>
        <% end %>
      </li>

      <%# <li class="nav-item"> %>
        <%# <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      <%# </li> %>
      <%# put above logout into settings %>

    <%# else %>
      <%# <li class="nav-item"> %>
        <%#= link_to "Login", new_user_session_path %>
      <%# </li> %>
    <% end %>
  </ul>

</div>
