<div class="navbar-ficelle">
  <ul>
    <% if user_signed_in? %>
      <li class="nav-item">
        <p class="navbar-active"><i class="fa-solid fa-house"></i></p>
        <%= link_to "dashboard", dashboard_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <p><i class="fa-solid fa-list-ul"></i></p>
        <%= link_to "past events", history_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <p><i class="fa-solid fa-user-group"></i></p>
        <%= link_to "relationship", us_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <p><i class="fa-solid fa-hand-holding-heart"></i></p>
        <%= link_to "inspiration", dashboard_path, class: "nav-link" %>
        <%#= replace dashboard_path for path to inspo swipe %>
      </li>
      <li class="nav-item">
        <p><i class="fa-solid fa-gear"></i></p>
        <%= link_to "settings", dashboard_path, class: "nav-link" %>
        <%#= replace dashboard_path for path to settings %>
      </li>
      <%# <li class="nav-item"> %>
        <%# <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      <%# </li> %>
      <%# put above logout into settings %>

    <% else %>
      <li>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>

</div>
