<div class="event-card d-none" data-edit-event-target="show" id="event-<%= event.id %>">
  <div class="event-card-content">
    <% if event.pending? %>
      <p class="event-icon color-red">
        <i class="fa-solid fa-circle-exclamation"></i>
      </p>
    <% elsif event.confirmed? %>
      <p class="event-icon color-orange">
        <i class="fa-solid fa-calendar-check"></i>
      </p>
    <% elsif event.completed? %>
      <p class="event-icon color-blue">
        <i class="fa-regular fa-thumbs-up"></i>
      </p>
    <% end %>
    <div class="event-card-info">
      <h6>
        <%= event.inspo.name %>
        <% if event.inspo.genre == "date" %>
          <i class="fa-solid fa-people-pulling"></i>
        <% elsif event.inspo.genre == "gift" %>
          <i class="fa-solid fa-gift"></i>
        <% elsif event.inspo.genre == "text" %>
          <i class="fa-solid fa-comment-dots"></i>
        <% end %>
      </h6>
      <p>
        <% if event.pending? %>
          Pending confirmation
        <% elsif event.confirmed? %>
          Scheduled
        <% elsif event.completed? %>
          Completed
        <% end %>
      </p>
    </div>
    <p><i class="fa-solid fa-xmark"
    <% if event.confirmed? %>
      data-action="click->edit-event#hideShowConfirmed"
    <% elsif event.completed? %>
      data-action="click->edit-event#hideShowCompleted"
    <% end %>
     id="event-<%= event.id %>"></i></p>
  </div>
  <div class="event-description">
    <% if event.inspo.genre == "text" %>
      <p>Content: <%= event.content %></p>
    <% end %>
    <p>Genre: <%= event.inspo.genre.capitalize %></p>
    <p>Date: <%= event.date.strftime("%A, %b %e at %l:%M %p") %></p>
    <% if event.inspo.genre != "text" %>
      <p>Location: <%= event.inspo.location %></p>
    <% end %>
    <% if event.inspo.cost %>
      <p>Cost: $<%= event.inspo.cost %></p>
    <% end %>
    <%= link_to "Delete Event",
      dashboard_path,
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      class: "btn btn-flat"
    %>
  </div>
</div>
