Show
<h2><%= @event.inspo.name %></h2>
<p>Location: <%= @event.location %></p>
<p>Confirmed: <%= @event.confirmed%></p>
<p>Completed: <%= @event.completed%></p>
<%= link_to "Delete Event",
  dashboard_path,
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<br>
<%= link_to "Go Back to Dashboard", dashboard_path  %>

<%= cl_image_tag "ass4jkbuqi14qjfyi4m4jh0gdhh9" %>
<%= cl_image_tag "ogdr06s1kkgjjn9dfa6okz1m0mm9" %>
<%= cl_image_tag "n9y2eb24p0ks4qt5j15ky7xjqyb6" %>
<%= cl_image_tag "goyulk3snl0qavbqpvilxpztsnob" %>
