<h1>Show event</h1>
<h2><%= @event.inspo.name %></h2>
<p>Date: <%= @event.date %></p>
<p>Status: <%= @event.status%></p>
<%= link_to "Edit Event", edit_event_path  %>
<br>
<%= link_to "Delete Event",
  dashboard_path,
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<br>
<%= link_to "Go Back to Dashboard", dashboard_path  %>
