<div class="banner">
  <div>
    <h4>
      <% hour = Time.now.in_time_zone('Eastern Time (US & Canada)').hour %>
      <% if hour > 3 && hour < 12 %>
        Good morning, <%= current_user.name %>
      <% elsif hour > 17 || hour <= 3 %>
        Good evening, <%= current_user.name %>
      <% else %>
        Good afternoon, <%= current_user.name %>
      <% end %>
    </h4>
    <h6 class="mt-2">Today is <%= Time.now.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %b %e") %></h6>
  </div>
</div>

<div class="banner-margin">
  <div class="wrapper">

    <% if current_user.partner == nil %>
      <div class="partnerless-dashboard">
        <h2>You don't have <br> a partner yet.</h2>
        <%= link_to "Create a partner profile", new_partner_path, class: "btn-flat mt-3" %>
      </div>
    <% end %>
    <% if current_user.partner.events.count == 0 %>
      <h4 class="mb-2">You have no upcoming events.</h4>
      <%# include button here to generate events %>
    <% else %>
      <h4 class="mb-2">Upcoming events</h4>
    <% end %>
    <ul class="events-list" data-controller="edit-event">
      <% @events.each do |event| %>
        <h6 class="mb-2"><%= event.date.strftime("%A, %b %e") %></h6>
        <div>
          <% if event.pending? %>
            <%= render "shared/event-card-pending", event: event %>
            <%= render "shared/edit-event-card", event: event %>
          <% elsif event.confirmed? %>
            <%= render "shared/event-card-confirmed", event: event %>
            <%= render "shared/show-event-card", event: event %>
          <% elsif event.completed? %>
            <%= render "shared/event-card-completed", event: event %>
            <%= render "shared/show-event-card", event: event %>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
