<div class="banner">
  <div>
    <h4>
      <% hour = Time.now.in_time_zone('Eastern Time (US & Canada)').hour %>
      <% if hour > 3 && hour < 12 %>
        Good morning, <%= current_user.name %>
      <% elsif hour > 17 || hour <= 3 %>
        Good evening, <%= current_user.name %>
      <% else %>
        Good afternoon, <%= current_user.name %>
      <% end %>
    </h4>
    <h6 class="mt-2">Today is <%= Time.now.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %b %e") %></h6>
  </div>
</div>

<div class="banner-margin">
  <div class="wrapper">
    <div class="dashboard-info">
      <% if current_user.partner == nil %>
        <div class="center-dashboard">
          <h2>You don't have <br> a partner yet.</h2>
          <%= link_to "Create a partner profile", new_partner_path, class: "btn-flat mt-3" %>
        </div>
      <% elsif current_user.partner.events.where.not(status: :completed).count.zero? %>
        <div class="center-dashboard">
          <h2 class="mb-3">You have no <br> upcoming events.</h2>
          <%= link_to 'Create new event', new_event_path, class:"btn btn-flat mt-3" %>
          <%= link_to 'Generate new events', events_loading_path, class:"btn btn-flat mt-3"%>
        </div>
      <% else %>
        <h4 class="mb-2" style="text-align: left">Upcoming events</h4>
      <% end %>
    </div>
    <div class="events-list" data-controller="edit-event">
      <% @uncompleted_events.each do |event| %>
        <h6 class="mb-2"><%= event.date.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %b %e") %></h6>
        <div>
          <% if event.pending? %>
            <%= render "shared/event-card-pending", event: event %>
            <%= render "shared/edit-event-card", event: event %>
          <% elsif event.confirmed? %>
            <%= render "shared/event-card-confirmed", event: event %>
            <%= render "shared/show-event-card", event: event %>
          <% elsif event.completed? %>
            <%= render "shared/event-card-completed", event: event %>
            <%= render "shared/show-event-card", event: event %>
          <% end %>
        </div>
      <% end %>
      <div class="dashboard-info">
        <% if current_user.partner && current_user.partner.events.where.not(status: :completed).count.positive? %>
          <%= link_to 'Create new event', new_event_path, class:"btn btn-flat mt-3" %>
          <%= link_to 'Generate new events', events_loading_path, class:"btn btn-flat mt-3"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
