<div class="banner">
  <div>
    <h4>Choose potential events</h4>
  </div>
</div>
<div class="banner-margin">
  <div class="wrapper">
    <div class="dashboard-info">
      <% if current_user.partner.nil? %>
        <div class="center-dashboard">
          <h2>You don't have <br> a partner yet.</h2>
          <%= link_to "Create a partner profile", new_partner_path, class: "btn-flat mt-3" %>
        </div>
      <% else %>
        <div data-controller="swipe-inspos">
          <% @inspos.each_with_index do |inspo, index| %>
            <%= render "shared/inspo-card", inspo: inspo, index: index, total: @inspos.count %>
          <% end %>
          <%= render "shared/loading" %>
          <% if current_user.all_favorites.count == 0 %>
            <div class="back-skip" style="margin-top: 25px">
              <%= link_to ('<i class="fa-solid fa-circle-arrow-left"></i> Back').html_safe, partner_keywords_path(@current_user.partner), class: "dark-link" %>
              <%= link_to ('Skip <i class="fa-solid fa-circle-arrow-right"></i>').html_safe, events_loading_path, class: "dark-link" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
