<div class="banner">
  <div>
    <h4>Select <%= current_user.partner.name %>'s interests</h4>
  </div>
</div>
<div class="banner-margin">
  <div class="wrapper">
    <div class="pb-5">
      <%# <h5>Select your partner's interests</h5> %>
        <div class="keyword-cards">
          <% @keywords.each do |keyword| %>
            <%= render "shared/keyword-card", keyword: keyword %>
          <% end %>
        </div>
      <div class="button d-flex justify-content-center">
        <%= link_to "Next", inspos_path, class: "btn-flat " %>
      </div>
      <div class="back-skip">
        <%= link_to ('<i class="fa-solid fa-circle-arrow-left"></i> Back').html_safe, edit_partner_path(current_user.partner), class: "dark-link" %>
        <%= link_to ('Skip <i class="fa-solid fa-circle-arrow-right"></i>').html_safe, dashboard_path, class: "dark-link" %>
      </div>
    </div>
  </div>
</div>
