<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Get ready for our next date, <%= @user.partner.name %></h1>
    <p>
      Name: <%= @event.inspo.name %><br>
      Date: <%= @event.date.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %b %e, %Y at%l:%M %p") %><br>
      <% if @event.inspo.location %>
        Location: <%= @event.inspo.location %><br>
      <% end %>
    </p>
    <p>
      <%= @message %>
    </p>
    <p>Love, <br><%= @user.name %></p>
  </body>
</html>
