<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Get ready for our next date, <%= @user.partner.name %></h1>
    <p>
      Name: <%= @event.inspo.name %>.<br>
      Date: <%= @event.date %>.<br>
      Location: <%= @event.inspo.location %>.<br>
    </p>
    <p>
      I am super excited, hope you are too
    </p>
    <p>Love, <%= @user.name %>.</p>
  </body>
</html>
