<!DOCTYPE html>
<html>
  <head>
    <title>Ficelle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/300f71314e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%#= render "shared/flashes" %>

    <%= yield %>
    <%#= request.fullpath %>
  <% if request.fullpath != "/" %>
      <%= render "shared/navbar" %>
    <% if current_user && current_user.partner != nil %>
      <%= render "shared/navbar5" %>
    <% end %>
      <% if request.fullpath == "/dashboard" %>
        <%= render "shared/navbar" %>
      <% elsif request.fullpath == "/completed_events" %>
        <%= render "shared/navbar2" %>
      <% elsif request.fullpath == "/us" %>
        <%= render "shared/navbar3" %>
      <% elsif request.fullpath == "/inspos" %>
        <%= render "shared/navbar4" %>
    <% end %>
    <% end %>
  </body>
</html>
