<!DOCTYPE html>
<html>
  <head>
    <title>Ficelle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/300f71314e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%#= render "shared/flashes" %>

    <%= yield %>

    <% if request.fullpath != "/" %>
      <%= render "shared/navbar" %>
    <% end %>
  </body>
</html>
