<!DOCTYPE html>
<html>
  <head>
    <title>Ficelle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/300f71314e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
    <% unless request.fullpath == events_loading_path || request.fullpath == root_path || request.fullpath == new_partner_path || request.fullpath == partners_path %>
      <%= render "shared/navbar" %>
    <% end %>
  </body>
</html>
